.section.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extra{
    width: 100%;
    max-width: 1440px;
    padding-left: 800px;
    padding-right: 100px;
    
}

.texto{
    width: 100%;
    max-width: 700px;
    height: 40px;
    
}